
<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<solver>
    <solutionClass>main.java.RunData.ShiftList</solutionClass>
    <entityClass>main.java.RunData.Shift</entityClass>
    
  <environmentMode>NON_REPRODUCIBLE</environmentMode>

    <scoreDirectorFactory>
<!--        <easyScoreCalculatorClass>Rules/RotaConstraintsJava</easyScoreCalculatorClass>-->
        
        <scoreDrl>Rules/RotaConstraints1.drl</scoreDrl>
    </scoreDirectorFactory>
    
    <termination>
  <!-- 2 minutes and 30 seconds in ISO 8601 format P[n]Y[n]M[n]DT[n]H[n]M[n]S -->
  <unimprovedSpentLimit>PT2H5M30S</unimprovedSpentLimit>
  
  </termination>
  
   <constructionHeuristic>
  <constructionHeuristicType>FIRST_FIT</constructionHeuristicType>
  </constructionHeuristic>
<localSearch>
   
   <acceptor>
  <simulatedAnnealingStartingTemperature>2hard/100soft</simulatedAnnealingStartingTemperature>
  <entityTabuSize>7</entityTabuSize>
   </acceptor>
  <forager>
  <acceptedCountLimit>3</acceptedCountLimit>
  </forager>
</localSearch>
</solver>
